<h1>Job Details</h1>
<form action="/add_jobs"  method="post">
  <label for="new-job">Job Title</label>
  <input id="new-job" name="new-job" type="text">

  <label for="description">Job Description</label>
  <input id="description" name="description" type="text">

  <label for="time">Job Time Period</label>
  <input id="time" name="time" type="text">

  <button type="submit"> Hire Me!</button>
  <p><a href="/view_jobs">View My Jobs</a></p>

</form>
